---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import ServicesList from '../components/ServicesList.astro';
import Search from '../components/Search.jsx';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
	</head>
	<body class="bg-white dark:bg-gray-900">
		<main>
			<Search client:load />
			
			<div style="margin-bottom: 5rem;">
				<ServicesList />
			</div>
		</main>

		<Footer />
	</body>
</html>
