---
import { createClient } from '@supabase/supabase-js';

const supabaseUrl = 'https://szkocdrjesbkrzyxtwnv.supabase.co'
const supabaseKey = import.meta.env.SUPABASE_KEY
const supabase = createClient(supabaseUrl, supabaseKey)

let { data: services, error } = await supabase
  .from('services')
  .select('*');

---

<div class="grid grid-flow-row-dense grid-cols-4 grid-rows-4">
  {services.map((service) => (
    <div>
      <a href="#" class="m-4 block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{service.name}</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">{service.descricao}</p>
        <div class="flex">
          <button data-modal-toggle="crypto-modal" class="ml-auto mt-5 relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                Saber mais
                <i class="fa-solid fa-arrow-up-right-from-square ml-1"></i>
            </span>
          </button>
        </div>
      </a>
    </div>
  ))}
</div>

